:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
/* Start Box */
.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}
.d-grid {
  display: grid;
}

.gap-20 {
  gap: 20px;
}

.d-block {
  display: block;
}

@media (max-width: 767px) {
  .block-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
}
/* End Box */
/* Start Padding + margin */
.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.m-0 {
  margin: 0;
}

.m-20 {
  margin: 20px;
}

.mt-0 {
  margin-top: 0;
}

.mt-5 {
  margin-top: 5;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}
/* End Padding + margin */
/* Start Color */
.bg-white {
  background-color: #fff;
}

.bg-eee {
  background-color: #eee;
}

.bg-blue {
  background-color: var(--blue-color, #0075ff);
}

.c-white {
  color: #fff;
}

.c-black {
  color: #000;
}

.c-grey {
  color: var(--grey-color, #888);
}
/* End Color */
/* Start Position */
.p-relative {
  position: relative;
}
/* End Position */
/* Start Font */
.txt-c {
  text-align: center;
}

.txt-capital {
  text-transform: capitalize;
}

.fs-14 {
  font-size: 14px;
}

@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
}
/* End Font */
/* Start Border */
.rad-6 {
  border-radius: 6px;
}

.rad-10 {
  border-radius: 10px;
}
/* End Border */
/* Start Width + Height */
.w-full {
  width: 100%;
}

.w-fit {
  width: fit-content;
}
/* End Width + Height */
/* Start Components */
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* End Components */

